button:hover{
    cursor: pointer;
}

.warnabirutua{
    color: #3d71e2 !important;
}
.warnabirumudaicon{
    color: #40ddcd !important;
}
.warnabirumudabg{
    background-color: #40ddcd !important;
}
.warnahijaumuda{
    color: #90cc32  !important;
}
.ijoatas{
    color: #86e3ce  !important;
}
.warnahijaumudabg{
    background-color: #90cc32   !important;
}
.warnaoren{
    color: #edac1b  !important;
}
.warnaorenbg{
    background-color: #edac1b  !important;
}
.warnamerah{
    color: #ed2700  !important;
}
.warnamerahbg{
    background-color: #ed2700  !important;
}
.bgkiri, .left-sidebar, .sidebar-nav, .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a, .mini-sidebar .sidebar-nav #sidebarnav > li > ul{
    background: white  !important;
}
.mini-sidebar .sidebar-nav{
    background: transparent !important;
}
.bgatas{
    background: #86e3ce !important;
}
.bgtgh, .page-wrapper{
    background: #f7f6f7 !important;
}
.active, li.active, li.active > a{
    color:black !important;
}
/* parent e, icon, anakane */
ul#sidebarnav > li > a:hover, ul#sidebarnav > li > ul > li > a:hover {
    color:#2ba78a !important;
}

ul#sidebarnav > li > a:hover > .rekapitulasi {
    color:#e036e0 !important;
}

ul#sidebarnav > li > a:hover > .penjualan {
    color:#3748e2 !important;
}

ul#sidebarnav > li > a:hover > .pembelian {
    color:#b1d825 !important;
}

ul#sidebarnav > li > a:hover > .setup {
    color:#eeca18!important;
}

ul#sidebarnav > li > a:hover > .laporan {
    color:#ff3636 !important;
}

.putih{
    background-color: #fff !important;
}
.warnabirumuda{
    color:#2ba78a !important;
}

.topbar .navbar-light .navbar-nav .nav-item > a.nav-link{
    color:#2ba78a  !important;
}

.bglogin{
    background-color:#2ba78a !important;
    color:white;
    border:#2ba78a !important;
}

td.details-control {
    background: url('/img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/img/details_close.png') no-repeat center center;
}

td.isijal{
    text-align: center;
    vertical-align: middle;
}

textarea.gudang{
    width: 400px;
    height: 100px;
}

input.atm{
    width: 70px;
}

input.debit{
    width: 130px;
}

.nggosort{
    width: 110px;
}

.dataTable > thead > tr > th[class*='sort']:before, .dataTable > thead > tr > th[class*='sort']:after { content: '' !important; }


@font-face {
    font-family: 'ReceiptionalReceiptRegular';
    src:url('/fonts/ReceiptionalReceiptRegular.eot?#iefix') format('embedded-opentype'),  
        url('/fonts/ReceiptionalReceiptRegular.woff') format('woff'), 
        url('/fonts/ReceiptionalReceiptRegular.ttf')  format('truetype'), 
        url('/fonts/ReceiptionalReceiptRegular.svg#ReceiptionalReceiptRegular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  
.print {
    font-family: 'ReceiptionalReceiptRegular';
    font-size: 10px;
    width: 58mm;
    margin: 5px;
}

.print h2{
    font-family: 'ReceiptionalReceiptRegular';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.print span{    
    text-align: center;
    vertical-align: middle;
  }

.print table{
    width:100%;
}

.print .borderedTop{
    border-top: 1px black dashed;
}

.bgprofile{
    background: #86E3CE;
    border-radius: 30px 0px 0px 30px;
    height: 500px;
    width: 397px;
}

.imgProfile{
    width: 150px;
    height: 150px;
    margin: 75px auto 0px;
}

.plusImage{
    position:absolute;
    top: 6px;
    right: 8px;
    background: #86e4ce;
    border-radius: 100%;
    border-style: solid;
    border-color: #86e4ce;
}

.plusImage:hover{
    cursor: pointer;
}

.profilePictApotek{
    border-radius: 100%;
}

.bgprofile > h3 {
    margin-top:54px;
    font-weight: bold;
    color: #247D68;

}

.bgprofile > span {
    margin-top:15px;
    font-size: 14px;
    color: #247D68;
    line-height: 17px;
}

#profileApotekForm {
    height:100%;
}

#profileApotekForm .rowbutton{
    position: absolute;
    bottom: 0px;
}

#profileApotekForm label{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

#profileApotekForm button{
    width: 154px;
    height: 48px;
}

#profileApotekForm input, textarea{
    font-size: 14px;
    line-height: 16px;
}

#profileApotekForm input:focus, textarea:focus{
    background-image: linear-gradient(#FFD84F, #FFD84F), linear-gradient(#e9edf2, #e9edf2) !important;
}

#profileApotekForm .khusus{
    bottom:33px;
}

#profileApotekForm .form-group{
    margin-bottom:30px;
    overflow: visible;
}

#profileApotekForm .rowbutton .form-group{
    margin-bottom:0px;
}

#profileApotekForm i{
    float: right;
    position: relative;
    bottom: 26px;
    background: red;
    color: white;
    height: 16px;
    width: 16px;
    text-align: center;
    vertical-align: middle;
    font-size: 9px;
    padding-top: 3px;
    border-radius: 10px;
    overflow:visible;
    display:none;
}
#profileApotekForm .bubble:before{
    transform: rotate(45deg);
    content: '';
    background: #FFB800;
    border: 5px solid transparent;
    border-right-color: #FFB800;
    width:0px;
    height:0px;
    right:96%;
    position: absolute;
}
#profileApotekForm .bubble{
    background: #FFB800;
    padding:20px;
    position: relative;
    bottom:220%;
    left:150%;
    width:170px;
    font-size:12px;
    font-weight:normal;
    color: white;
    border-radius:10px;
    line-height: 15px;
    font-family:arial;
    display:none;
}

#profileApotekForm i:hover .bubble{
    display:block;
}

.bubble .title{
    font-weight:bold;
    margin-bottom:5px;
}

/* #profileApotekForm i::before{width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #FFB800;
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);
    background: #FFB800;
    content:"";
    z-index: 10;
    position: absolute;
}

#profileApotekForm i::after{
    transform: translate(0, -50%);
    left: 100%;
    margin-left: 10px;
    top: 50%;
    border-radius: 2px;
    color: #fff;
    content: "Dicoba test";
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
    background: #FFB800;
} */

